<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Box Here</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center">
        {% if user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">
            <span class="navbar-text">Hola, {{ user.username }}!</span>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary nav-link text-white ms-2" href="{% url 'cotizar' %}">Cotizar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger nav-link text-white ms-2" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-success nav-link text-white" href="{% url 'register' %}">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary nav-link text-white ms-2" href="{% url 'login' %}">Inicio de Sesión</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
